* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    overflow: hidden;
    min-height: 100vh;
    background: #000;
}
section {
    min-height: 100vh;
}
span {
    position: absolute;
    pointer-events: none;
    background: #fff;
    background-color: #fff;
    animation: fly 2s linear both;
    z-index: 100;
    border-radius: 50%;
}
span {
    box-shadow: 0 0 50px #0f0,
                0 0 100px #0f0,
                0 0 150px #0f0,
                0 0 200px #0f0,
                0 0 250px #0f0;
}
@keyframes fly {
    0%{
        
        transform: scale(1);
    }
    50% {
        transform: scale(0.2);
    }
    70% {
        
        opacity: 0.4;
    }
    80% {
        transform: scale(0);
        opacity: 0;
    }
    100%{
        
        left: 50vw;
        top: 50vh;
        
        opacity: 0;
    }
}